doctype html
style
  include ../public/stylesheets/style.css
div
  p Announcements:
  br
  
  table(style='width:100%', border='1')
    each announcement, idx in announcements ? announcements : []
      tr
        - console.log('\\\\\\\\',announcements)
        form(action='' method='delete') 
        td( class='reg') #{announcement.name}                    
      br
