doctype html
//- include regions.pug
style
  include ../public/stylesheets/style.css
div
  p Cities:
  br
  
  table(style='width:100%', border='1')
    each city, idx in cities
      tr
        td( class='reg') #{city.dataValues.name}
          input.delete-icon(type='submit' data-id=city.dataValues.id value='delete')
        td
          form(action='/cities/id' method='patch')
          input.edit-input(type='text' name='name')
          input.submit-icon(type='submit' data-id=city.dataValues.id value='submit')
          input.edit-icon(id='edit' type='submit' data-id=city.dataValues.id value='edit')                   
      br

script. 
  var deleteBtns = document.querySelectorAll('.delete-icon')
  var Btn;
  deleteBtns.forEach((deleteBtn) => {
    deleteBtn.addEventListener('click', function(){
      Btn = deleteBtn.getAttribute('data-id')
      console.log(Btn)
      fetch('/cities/' + Btn, {
        method: 'DELETE',
      })
      .then(res => location.reload()) // or res.json()
      .catch(err => console.log(err))
    })
  });

  var editBtns = document.querySelectorAll('.edit-icon')
  var BtnE;
  editBtns.forEach((editBtn, index) => {
    editBtn.addEventListener('click', function(){
      BtnE = editBtn.getAttribute('data-id')
      const editIcon = document.getElementsByClassName('edit-icon')
      editIcon[index].style.display = 'none'
      console.log('------------------ ',BtnE)
      const editInput = document.getElementsByClassName('edit-input')
      const submitInput = document.getElementsByClassName('submit-icon')
      console.log('edit-input ', editInput)
      editInput[index].style.display = 'block'
      submitInput[index].style.display = 'block'
      //console.log('editInput[0]',editInput[1].style)
    })  
  });

  var submitBtns = document.querySelectorAll('.submit-icon')
  var BtnS;
  submitBtns.forEach((submitBtn, index) => {
    submitBtn.addEventListener('click', function(){
      BtnS = submitBtn.getAttribute('data-id')
      var name = document.getElementsByClassName('edit-input')[index].value
      console.log('name == ', name)
      console.log(BtnS)
      fetch('/cities/' + BtnS, {
        method: 'PATCH',
        headers: {
          'Content-Type': 'application/json',
        },
       body: JSON.stringify({name: name}),
      })
      .then(res => res.json())
      .then(data => {
        console.log(data)
        location.reload();
      })
      .catch(err => console.log(err))
    })
  })