doctype html
style
  include ../public/stylesheets/style.css
form.container()
    label Name
    br 
    input()
    br
    label Description 
    br
    input()
    br
    label Price
    br
    input()
    br
    label Address
    br 
    input()
    br
    label Brand
    br 
    input()
    br
    label Model
    br 
    input()