doctype html
html 
  include head.pug
style
  include ../public/stylesheets/style.css
form.container(action='/products/my-announcements/add' method='post')
    label Name
    br 
    input(name='name')
    br
    label Description 
    br
    textarea(name='description' cols="30" rows="10" style='resize:none')
    br
    label Price
    br
    input(name='price')
    br
    label Address
    br 
    input(name='address')
    br
    label Brand
    br 
    input(name='brand')
    br
    label Model
    br 
    input(name='model')
    br
    label City
    br 
    select(name="cityId")
      each city, idx in __cities ? __cities : []
        option(value=city.id) #{city.name}
    br  
    input(type="submit" value="Add")       