doctype html
script(src='https://code.jquery.com/jquery-2.1.1.min.js' type='text/javascript')
link(href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css' rel='stylesheet')
script(src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js')
style
  include ../public/stylesheets/style.css
div.header
  -console.log("head ",__categories)
  each category, idx in __categories ? __categories : []
    a.header__category(href='#') #{category.name}
  a.header__account(href='http://localhost:3000/users') Sign In
  a.header__account(href='http://localhost:3000/users/registration') Registration