doctype html
style
  include ../public/stylesheets/style.css
form(action='/reg/add' method='post' id="add")
  label Region name
  br
  input.input-value(type='text' name='name' id='name')
  br
  input(type='submit' value='Add')
  br
  pre #{msg}
