doctype html
style
  include ../public/stylesheets/style.css
div
  p Regions:
  br
  
  table(style='width:100%', border='1')
    each region, idx in regions
      tr
        form(action='/reg/id' method='delete') 
        td( class='reg') #{region.dataValues.name}
          input.delete-icon(type='submit' data-id=region.dataValues.id value='delete')
          input.edit-input(type='text' data-id=region.dataValues.id)    
        form
        td
          input.edit-icon(id='edit' type='submit' data-id=region.dataValues.id value='edit')                    
      br

script.
  
  let deleteBtns = document.querySelectorAll('.delete-icon')
  var Btn;
  deleteBtns.forEach((deleteBtn) => {
    deleteBtn.addEventListener('click', function(){
      Btn = deleteBtn.getAttribute('data-id')
      console.log(Btn)
      alert('Delete button works');
      fetch('/reg/' + Btn, {
        method: 'DELETE',
      })
      .then(res => location.reload()) // or res.json()
      .catch(err => console.log(err))
    })
  });

  let editBtns = document.querySelectorAll('.edit-icon')
  var BtnE;
  editBtns.forEach((editBtn) => {
    editBtn.addEventListener('click', function(){

      BtnE = editBtn.getAttribute('data-id')
      const editInput = document.getElementsByClassName('edit-input')
      editInput[0].style.display = 'block'
      console.log('editInput[0]',editInput[0].style)
      alert('Edit button works');
      

      //- fetch('/reg/' + BtnE, {
      //-   method: 'PATCH',
      //- })
      //- .then(res => res.text()) // or res.json()
      //- .catch(err => console.log(err))
    })
  });



  

  
  

  