doctype html
form(action='/reg/add', method='post')
  label Region name:
  br
  input.input-value(type='text' name = 'data')
  br
  input(type='submit' value='Add')
  //- h2=reg
  //- pre #{reg.stack}
script.


  